<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Almanak Astronomi Indonesia</h1>
    <p class="lead">
      Memuat berbagai informasi tentang fenomena-fenomena Astronomi di wilayah Indonesia. 
    </p>
  </div>
</div>
<div class="container marketing">
  
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Latar Belakang</h2>
      <h5>
        <span class="text-muted">untuk apa ada Almanak Astronomi Indonesia</span>
      </h5>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
        cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/Artboard 1.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Metode Penyusunan
      </h2>
      <h5>
        <span class="text-muted">bagaimana proses penyusunan Almanak ini?</span>
      </h5>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
        cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/Artboard 3.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Pembaruan?
      </h2>
      <h5>
        <span class="text-muted">kapan Almanak ini diperbaharui?</span>
      </h5>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
        cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/Artboard 2.png" alt="Generic placeholder image">
    </div>
  </div>
  
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Acknowledgement
      </h2>
      <h5>
        <span class="text-muted">terima kasih kepada...</span>
      </h5>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
        cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/Artboard 4.png" alt="Generic placeholder image">
    </div>
  </div>
</div>